.FormControl.error input,
.FormControl.error textarea {
    border: solid red 2px;
}

.FormControl.error span
{
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}